.navigation {
  background-color: #333333;
  top: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
}

.navigation-list {
  display: inline-block;
  list-style-type: none;
  text-align: center;
}

.navigation-item {
  display: inline-block;
  margin-right: 30px;
}

.navigation-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
}
